@charset "UTF-8";

    body{
        
        background: url("../imagens/fundo/novofundo.jpg") center;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif
        
        
        }
        

    div#interface{
        background: none;
        max-width: 1200px;
        width: 100%;
        margin: 25px auto 0px auto; 


    }

    .topo{
        height: 257px; 
        
    }

        nav.menu{
            width: 80%;
            display: block;
            position: absolute;
            top: 250px;
            margin-left: 20.31%;
            z-index: 100;

        }
        nav.menu ul{
            text-decoration: none;
            list-style: none;
            font-size: 1.1em; 
            margin: 0px 0px; 
            /*padding: auto;*/
            z-index: 1;
        }
        .menu li{
            float: left;
            background:black;

        }
        .menu li a{
            text-decoration: none;
            color: #fff; 
            background: #000;
            padding: 5px 25px;
            margin: 0px;
            display: block;
        }
        .menu li a:hover{
            background: #fff; 
            color: #000; 
        }

        /*sub menu*/
        .menu li ul{ 
            display: none;
            font-size: 1.0em;
        }

        .menu li:hover ul{
            background-color: #000;
            display: block;
            position: relative;

        }
        .menu li:hover li{
            float: none;
        }

        /*BANNERS*/
        #banner_anime{
            position: relative;
            display: inline-block;
            width: 100%;
            height: 350px;
            margin: 0px;
        }

        
        #banner_anime img{
            position: absolute;
            transition-property: opacity;
            transition-duration: 1s;
            transition-timing-function: linear; 
        }

        #anime1, #anime2:hover{ 
            opacity: 1;
        }

        #anime1:hover, #anime2{ 
            opacity: 0;
        }

        
        img{
            max-width: 100%;
            height: auto;
            
        }
        .img1{
            float: left;
            width: 30%;
            margin: 200px 20px;
            
            
         }


        h2{
            text-align: center;
            color: #000;
            font-size: 1.6em;
            margin: 3px;
        }

        .img2{
            display: block;
            float: right;
            width: 30%;
            margin: 198px 20px;
         }


        h2{
            text-align: center;
            color: #000;
            font-size: 1.6em;
            margin: 3px;
            color: #fff;
        }
   
        
        span a{
            color: blue;
            text-decoration: none;
            


        }

        .mensagem p{
                margin-top: 750px;
                text-align: center;
                font-size: 1.0em;
                text-indent: 60px;
                background-color: black;
                color: rgb(245, 0, 0);
                
        }     

        

        span a:hover{
            color: rgb(64, 255, 47);
        }

        .rodape{
            clear: both;
            border-top: 2px solid rgb(22, 102, 155);
        }

        .rodape p{ 
            color: black;
            text-align: center;
            font-size: 1.3em;
            background:rgba(185, 185, 185, 0.945);
        }
        


        

       
        .serviços{
            color: white;
            background: none;
           
        }

        .img1 p{
            color: #fff;
            background: none;

            

            
            
        } 
        

        #cont{
            background-color: black;
            color: rgb(255, 251, 0);
        }


        .trocas p{
            color: #fff;
            background: none;
        }

        

       
      
    
   .sociais {
       color:  #000;
       background:  #fff;
       text-align: center;
   }

   .sociais img{
    color:  #000;
    background-color: black;
    /*text-align: center;*/
    
   }

   .logo {
    color: rgba(185, 185, 185, 0.945);
    background:rgba(185, 185, 185, 0.945);
   }

   a{
       background: rgba(185, 185, 185, 0.945);
       color: rgba(185, 185, 185, 0.945);
   }

   .rodape p{
    background-color: rgba(185, 185, 185, 0.945);;
   }
        
      









