.album_fotos{
    width: 58%;
    margin: 0 auto;
    padding: 50px;
    list-style: none;
}

.album_fotos li{
    float: left;
    width: 28.5%;
    height: 200px;
    margin: 10px;
    border: 5px solid rgb(73, 249, 255);
    background: #fff;

}

/* .galeria{
    height: 20%;
    opacity: 0;
    font-size: 0.9em;
    line-height: 370px;
    color: #fff;
    background: rgba(0,0,0,.5)
    
}

.galeria:hover{
    opacity: 1;
}

li.foto01{
    background: url("../imagens/galeria1.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

li.foto02{
    background: url("../imagens/galeria2.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

li.foto03{
    background: url("../imagens/galeria3.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

li.foto04{
    background: url("../imagens/galeria4.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

li.foto05{
    background: url("../imagens/galeria5.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

li.foto06{
    background: url("../imagens/galeria6.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 700px 500px;
}

li.foto01:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}

li.foto02:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}

li.foto03:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}

li.foto04:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}

li.foto05:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}

li.foto06:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}

.album_fotos li:hover{
    transform: scale(1.5);
}

.galeria1{ width: 100%;
    height: 500px;
 } */
 
/*SEGUNDA GALERIA*/

.galeria2{
    
    width: 70%;
    height: 480px;
    margin: 190px ;
}

.galeria_fotos{
    list-style: none;
    margin: 0 auto;
    padding: 50px;
}

.galeria_foto li{
    display: block;
    float: left;
    margin: 3px;
    position: relative;
}

.galeria_foto img{
    width: 200px;
    height: 180px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    background: red;
}

.aumentar:hover{
    transform: scale(1.5);
    z-index: 5;
} 



#lateral_fotos{
    display: block;
   
        width: 19%;
        float: right;
        margin: -680px auto;
        padding: auto;
        font-size: 1.73em;
        color: black;
        background-color: black
}


